<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="samsung.galaxy.s6.launcher.samsung.launcher.s6.theme.free.samsungj7launcher"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" android:maxSdkVersion="18" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".launcher.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity android:name=".launcher.fragment.LauncherActivity" android:exported="true" android:taskAffinity="" android:clearTaskOnLaunch="true" android:stateNotNeeded="true" android:excludeFromRecents="true" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateVisible" android:resumeWhilePausing="true">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".launcher.fragment.LauncherActivity" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name=".launcher.receiver.AppInstallReceiver" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_INSTALL" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>


        <activity android:label="@string/title_activity_full_screen_view" android:name="launcher.wallpapar.BackgroundSelection" />
        <activity android:label="@string/title_activity_full_screen_view" android:name="launcher.wallpapar.FullScreenViewActivity" />
        <activity android:label="@string/title_activity_theme_selection" android:name="launcher.features.ThemeSelection" />
        <activity android:label="@string/title_activity_transition_selection" android:name="launcher.features.TransitionSelection" />
        <activity android:label="@string/title_activity_font_selection" android:name="launcher.features.FontSelection" />
        <activity android:label="@string/title_activity_font_color_selection" android:name="launcher.features.FontColorSelection" />
        <activity android:name="launcher.fragment.AllAppsActivity" android:screenOrientation="portrait" />
        <activity android:name="com.google.android.gms.ads.AdActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        <activity android:name="com.google.android.gms.common.api.GoogleApiActivity" android:exported="false" />



    </application>

</manifest>
